<html ng-app="hcApp">
<head>
<title>High chart</title>   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="highchart.js"></script>'
     <link rel="stylesheet" href="highchart.css">

</head>
    <body ng-controller="hcCtrl">
        Hi, This is {{myname}} demoing Highcharts with Angulajrs.
    
        <h3>Data Entry</h3>
        <div>
            <div class="dataEntry">
             month:<input type="text" ng-model="data.month" /><br/>
             Heat:<input type="number" ng-model="data.temp" /><br/>
                <button ng-click="addData()">Add</button>
                <button ng-click="displayChart()">Display</button>
            </div>
            <div class="dataDisplay">
            {{m}} <br/>
            {{t}} <br/>
            </div>
        </div>
        
     <div id="container">Placeholder for chart</div>
        
    </body>
    
</html>