<html ng-app="ncApp">
<head>
<title>Angular Cookies</title>   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>

    <script src="ngCookies.js"></script>'
     <link rel="stylesheet" href="ngCookies.css">

</head>
    <body ng-controller="ncCtrl">
            <h2>Cookie Example</h2>
        <div "class"='first'>
            <h3>Browser Cookie Entry </h3>
        <table>
            <tr>
                <td>Key</td>
                <td>Value</td>
                <td>Action</td>
            </tr>
            <tr>
                <td> <input type='text' ng-model='dataKey' placeholder="enter key" /> </td>
                <td><input type='text' ng-model='dataValue' placeholder="enter Value"  /></td>
                <td><button ng-click="addData()">Add</button> </td>
            </tr>
        </table>
        </div>
        <div "class"='second'>
            <h3>Browser Cookie Search </h3>
        <table>
            
            <tr>
                <td>  Search </td>
                <td><input type='text' ng-model='search' placeholder="enter key Search"  /></td>
                <td><button ng-click="searchKeys()">Search</button> </td>
            </tr>
            <tr ng-show='serchVal'>
                <td>Key = {{searchKey}} </td>
                <td>Value ={{serchVal}} </td>
            </tr>            
            <tr ng-show='!serchVal'>
                <td>Key = {{searchKey}} </td>
                <td>Value Not found</td>
            </tr>
        </table>
        </div>
        <div "class"='third'>
             <h3>Browser Cookie getall </h3>
        <button ng-click="getValues()">Get All</button>  <br/>
            
            <table border="1px">
                <thead>
                <tr><td>Key</td><td>Value</td></tr>
                </thead>
                <tr ng-repeat='(key,value) in cookieValues'>
                    <TD>{{key}}</TD>
                    <TD>{{value}}</TD>
        
                </tr>
            </table>
            
        </div>
    </body>
    
</html>